{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html, body {
            background: #f9f9f9 url('https://s3.amazonaws.com/uploads.hipchat.com/191907/1983305/Q2lZlbSapEoKG0p/Fotolia_92002499_S-1.jpg') repeat scroll 0 0;
            background-size: cover;
        }

        .right-side {
            background-color: transparent;
        }

        .content {
            background: transparent;
        }

        .skin-black .left-side {
            background: #333 none repeat scroll 0 0;
            opacity: 0.90;
        }

        p, a, span, label, i, h1, h2, h3, h4, h5 {
            opacity: 1 !important;
        }

        .box .box-header, td.sonata-ba-list-label {
            color: #000;
        }
        .box, .sonata-ba-content, .sonata-ba-show {
            opacity: 0.90;
        }

        .sonata-ba-show {
            background: #fff none repeat scroll 0 0;
        }
    </style>
    <link rel="icon" href="https://hackathon.emag.ro/img/center.png" type="image/gif" sizes="16x16">
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
            {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                <img src="https://hackathon.emag.ro/img/center.png" alt="NetGuard">
            {% endif %}
            {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                <span>NetGuard</span>
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_head_title %}
    {{ 'NetGuard'|trans({}, 'SonataAdminBundle') }}

    {% if _title is not empty %}
        {{ _title|raw }}
    {% else %}
        {% if action is defined %}
            -
            {% for menu in admin.breadcrumbs(action) %}
                {% if not loop.first %}
                    {% if loop.index != 2 %}
                        &gt;
                    {% endif %}

                    {{ menu.label }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        <a href="https://hackathon.emag.ro/#rules" rel="noreferrer" target="_blank">Copyright &copy; 2016 eMAG Hackathon</a>
    </p>
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}