{% extends '::standard_layout.html.twig' %}

{% block sonata_header %}
{% endblock %}

{% block sonata_left_side %}
{% endblock %}

{% block content %}
    <style>
        .login-box-body {
            background: #fff none repeat scroll 0 0;
            border-top: 0 none;
            color: #666;
            padding: 30px;
        }

        .login-logo {
            font-size: 35px;
            font-weight: 300;
            margin-bottom: 25px;
            text-align: center;
        }

        .login-box-msg {
            margin: 0;
            padding: 0 20px 20px;
            text-align: center;
        }
    </style>

    <div class="login-box col-md-4 col-xs-4 col-sm-4 col-md-push-3">
        <div class="login-logo">
            <a href="{{ path('sonata_admin_dashboard') }}">
                <div>
                    <img alt="Sonata Project" src="https://hackathon.emag.ro/img/center.png" style="width:200px;">
                </div>
                <label style="color:#000">NetGuard</label>
            </a>
        </div>
        <div class="login-box-body box">
            <p class="login-box-msg">Authentication</p>
            <form action="{{ path("sonata_user_admin_security_check") }}" method="post">
                {% if error %}
                    <div class="alert alert-error">{{ error|trans({}, 'SonataUserBundle') }}</div>
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="form-group has-feedback row">
                    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>

                    <div class="controls">
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                               class="big form-control col-sm-12 col-md-12 col-xs-12"
                               placeholder="Username"/>
                    </div>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback row">
                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                    <div class="controls">
                        <input type="password" id="password" name="_password"
                               class="big form-control col-sm-12 col-md-12 col-xs-12"
                               placeholder="Password"/>
                    </div>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8 no-padding">
                        <div class="checkbox">
                            <label>
                                <div class="icheckbox_square-blue col-sm-2 no-padding">
                                    <input type="checkbox" value="on" name="_remember_me" id="remember_me">
                                    <ins class="iCheck-helper"></ins>
                                </div>
                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4  no-padding">
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary btn-block btn-flat" id="_submit"
                                   name="_submit"
                                   value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <a href="{{ path('sonata_admin_dashboard') }}">Forgotten password?</a>
            </div>
        </div>
    </div>
{% endblock content %}
